
/aclocal.m4
/autom4te.cache
/autoscan-*.log
/autoscan.log
/client/dialclient
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
.deps
.dirstamp
/install-sh
*.la
.libs
/libtool
*.lo
/ltmain.sh
/m4
Makefile
Makefile.in
/missing
*.o
/server/dialserver
/server/tests/test
/stamp-h1

