/aclocal.m4
/autom4te.cache
/autoscan-*.log
/autoscan.log
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
.deps
/install-sh
.libs
/libtool
/ltmain.sh
/m4
Makefile
Makefile.in
/missing
*.o
/stamp-h1
