
/aclocal.m4
/ar-lib
/autom4te.cache
/autoscan-*.log
/autoscan.log
/client/dialclient
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
.deps
.dirstamp
/INSTALL
/install-sh
*.la
.libs
/libtool
*.lo
*.log
/ltmain.sh
/m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
Makefile
Makefile.in
/missing
*.o
/server/dialserver
/server/tests/test
/server/tests/test_dial_data
/server/tests/test_url_lib
/stamp-h1
/tap-driver.sh
/test-driver
test-suite.log
*.trs
